

<h1>Car Prices</h1>







<% @pricesArray.each do |price| %>
  <%= price %>
<% end %>

<h1> </h1>

<table >

	<tr> <td></td>
		<td>
				<%=  form_tag(root_path, :method => "get", id: "seeAll") do %>
				<%= submit_tag  :seeAll , name: "seeAll",value: "See MORE Listings" %>
				<% end %>
			
		</td>
	</tr>
	<tr>
		<th>Model </th> <th> Price </th> <th> VIN </th> <th> OldPrices </th> <th>Timestamps  </th>
	</tr>
	<% Car.all.each do |c| %>
		
		<tr>
			<td> <%= c.model  %> <td align = "right"> <%= c.price  %> </td> <td> <%= c.vin  %> </td> <td> 	<% c.oldprices.each do |p| %>
																												<%= p %> <br> 
																											<% end %> 

																									</td>

																									<td > 	<% c.pricestamps.each do |t| %>
																												<%= t.strftime("%Y %b %d %H:%M") %> <br> 
																											<% end %> 

																									</td>

		</tr> 
	<% end %>

	


</table>